In [1]:
import rpy2

In [2]:
print(rpy2.__version__)

3.5.2

In [3]:
import rpy2.situation

In [4]:
for row in rpy2.situation.iter_info():
    print(row)

rpy2 version:
3.5.2
Python version:
3.8.9 (default, Apr 13 2022, 08:48:07)
[Clang 13.1.6 (clang-1316.0.21.2.5)]
Looking for R's HOME:
    Environment variable R_HOME: None
    Calling `R RHOME`: /Library/Frameworks/R.framework/Resources
    Environment variable R_LIBS_USER: None
R's additions to LD_LIBRARY_PATH:

R version:
    In the PATH: R version 4.2.1 (2022-06-23) -- "Funny-Looking Kid"
    Loading R library from rpy2: OK
Additional directories to load R packages from:
None
C extension compilation:
  include:
  ['/Library/Frameworks/R.framework/Resources/include']
  libraries:
  ['pcre2-8', 'lzma', 'bz2', 'z', 'icucore', 'dl', 'm', 'iconv']
  library_dirs:
  ['/usr/local/lib', '/usr/local/lib']
  extra_compile_args:
  []
  extra_link_args:
  ['-F/Library/Frameworks/R.framework/..', '-framework', 'R']

In [5]:
import rpy2.robjects as robjects

In [6]:
from rpy2.robjects.packages import importr

In [7]:
# import R's "base" package
base = importr('base')

# import R's "utils" package
utils = importr('utils')

In [8]:
Robyn = importr('Robyn')

    WARNING: The R package "reticulate" only fixed recently
    an issue that caused a segfault when used with rpy2:
    https://github.com/rstudio/reticulate/pull/1188
    Make sure that you use a version of that package that includes
    the fix.

In [9]:
dat = utils.read_csv('robyn_lum_input.csv')

In [32]:
robjects.globalenv["dat"] = dat

In [33]:
env = robjects.r.baseenv()

In [35]:
robjects.globalenv['dat']

<rpy2.robjects.vectors.DataFrame object at 0x10df2cb00> [RTYPES.VECSXP]
R classes: ('data.frame',)
[StrSexpVe..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  DATE: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x10ecdd400> [RTYPES.STRSXP]
R classes: ('character',)
['2018-01-..., '2018-01-..., '2018-02-..., '2018-02-..., ..., '2022-01-..., '2022-02-..., '2022-02-..., '2022-02-...]
  TP_LUMINOUS_SALES_VALUE: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecdd8c0> [RTYPES.REALSXP]
R classes: ('numeric',)
[6355854.943044, 7554470.961783, 7084173.901409, 7688107.840415, ..., 9087975.879600, 8684966.911048, 9323530.950885, 9194858.072896]
  TV_LUMINOUS_SPEND: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecfccc0> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.000000, 0.000000, 0.000000, 0.000000, ..., 0.000000, 0.000000, 0.000000, 0.000000]
  GL_LUMINOUS_SPEND: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecfc980> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.000000, 0.000000, 0.000000, 0.000000, ..., 0.000000, 0.000000, 0.000000, 0.000000]
...
  DV_LUMINOUS_SPEND: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecfc6c0> [RTYPES.REALSXP]
R classes: ('numeric',)
[258.483667, 257.831776, 279.995809, 269.068975, ..., 287.049137, 286.755599, 285.892645, 289.857455]
  TV_LUMINOUS_TRP: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecfc180> [RTYPES.REALSXP]
R classes: ('numeric',)
[101.693084, 108.320202, 118.489962, 118.734642, ..., 138.570694, 135.818551, 132.925835, 136.150599]
  GL_LUMINOUS_IMPRESSIONS: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecc4e80> [RTYPES.REALSXP]
R classes: ('numeric',)
[161.313354, 162.255242, 163.296698, 162.593800, ..., 238.303651, 242.856498, 247.041139, 244.646495]
  FB_LUMINOUS_IMPRESSIONS: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecc4ec0> [RTYPES.REALSXP]
R classes: ('numeric',)
[16181181.033042, 19591347.083593, 19512649.053351, 20100983.807285, ..., 23965245.090744, 21875299.169588, 23425181.913562, 23222824.006155]

In [37]:
robjects.r('''
    dat
''')

<rpy2.robjects.vectors.DataFrame object at 0x10ece4180> [RTYPES.VECSXP]
R classes: ('data.frame',)
[StrSexpVe..., FloatSexp..., FloatSexp..., FloatSexp..., ..., FloatSexp..., FloatSexp..., FloatSexp..., FloatSexp...]
  DATE: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x10ece4a40> [RTYPES.STRSXP]
R classes: ('character',)
['2018-01-..., '2018-01-..., '2018-02-..., '2018-02-..., ..., '2022-01-..., '2022-02-..., '2022-02-..., '2022-02-...]
  TP_LUMINOUS_SALES_VALUE: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecdfa40> [RTYPES.REALSXP]
R classes: ('numeric',)
[6355854.943044, 7554470.961783, 7084173.901409, 7688107.840415, ..., 9087975.879600, 8684966.911048, 9323530.950885, 9194858.072896]
  TV_LUMINOUS_SPEND: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecdfc00> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.000000, 0.000000, 0.000000, 0.000000, ..., 0.000000, 0.000000, 0.000000, 0.000000]
  GL_LUMINOUS_SPEND: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecd0080> [RTYPES.REALSXP]
R classes: ('numeric',)
[0.000000, 0.000000, 0.000000, 0.000000, ..., 0.000000, 0.000000, 0.000000, 0.000000]
...
  DV_LUMINOUS_SPEND: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ec96c00> [RTYPES.REALSXP]
R classes: ('numeric',)
[258.483667, 257.831776, 279.995809, 269.068975, ..., 287.049137, 286.755599, 285.892645, 289.857455]
  TV_LUMINOUS_TRP: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ec96040> [RTYPES.REALSXP]
R classes: ('numeric',)
[101.693084, 108.320202, 118.489962, 118.734642, ..., 138.570694, 135.818551, 132.925835, 136.150599]
  GL_LUMINOUS_IMPRESSIONS: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecd1200> [RTYPES.REALSXP]
R classes: ('numeric',)
[161.313354, 162.255242, 163.296698, 162.593800, ..., 238.303651, 242.856498, 247.041139, 244.646495]
  FB_LUMINOUS_IMPRESSIONS: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x10ecd1e00> [RTYPES.REALSXP]
R classes: ('numeric',)
[16181181.033042, 19591347.083593, 19512649.053351, 20100983.807285, ..., 23965245.090744, 21875299.169588, 23425181.913562, 23222824.006155]